/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 15px;
}

/* Footer Styles */
footer {
    margin-top: 20px;
}

footer a {
    margin: 0 10px;
}
